body {
    margin: 0;
    height: 30vh;
    background: #282a36;
    display: grid;
    place-items: center;
    color: #fd267d;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
  .heart {
    position: relative;
    height: 160px;
    width: 100px;
    background: #fd267d;
    border-radius: 200px 200px 0 0;
    transform: rotate(45deg);
  }
  
  .heart::before {
    content: " ";
    position: absolute;
    height: 160px;
    width: 100px;
    background: #fd267d;
    border-radius: 200px 200px 0 0;
    transform: rotate(-90deg);
    top: 30px;
    left: -30px;
  }
  
